<?xml version="1.0"?>
<robot name="open_top_box">
  <!-- 底板 -->
  <link name="base_plate">
    <visual>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <!-- 四个侧板 -->
  <!-- 前板 -->
  <link name="wall_front">
    <visual>
      <geometry>
        <box size="1.0 0.02 0.5"/>
      </geometry>
      <origin xyz="0 0.49 0.25" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.02 0.5"/>
      </geometry>
      <origin xyz="0 0.49 0.25" rpy="0 0 0"/>
    </collision>
  </link>
  <joint name="base_to_front" type="fixed">
    <parent link="base_plate"/>
    <child  link="wall_front"/>
    <origin xyz="0 0 0  " rpy="0 0 0"/>
  </joint>

  <!-- 后板 -->
  <link name="wall_back">
    <visual>
      <geometry>
        <box size="1.0 0.02 0.5"/>
      </geometry>
      <origin xyz="0 -0.49 0.25" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.02 0.5"/>
      </geometry>
      <origin xyz="0 -0.49 0.25" rpy="0 0 0"/>
    </collision>
  </link>
  <joint name="base_to_back" type="fixed">
    <parent link="base_plate"/>
    <child  link="wall_back"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 左侧板 -->
  <link name="wall_left">
    <visual>
      <geometry>
        <box size="0.02 1.0 0.5"/>
      </geometry>
      <origin xyz="0.49 0 0.25" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 1.0 0.5"/>
      </geometry>
      <origin xyz="0.49 0 0.25" rpy="0 0 0"/>
    </collision>
  </link>
  <joint name="base_to_left" type="fixed">
    <parent link="base_plate"/>
    <child  link="wall_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 右侧板 -->
  <link name="wall_right">
    <visual>
      <geometry>
        <box size="0.02 1.0 0.5"/>
      </geometry>
      <origin xyz="-0.49 0 0.25" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 1.0 0.5"/>
      </geometry>
      <origin xyz="-0.49 0 0.25" rpy="0 0 0"/>
    </collision>
  </link>
  <joint name="base_to_right" type="fixed">
    <parent link="base_plate"/>
    <child  link="wall_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>